.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 50px 80px 50px 80px;
  box-sizing: border-box;
}

.header {
  a {
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  @media #{$desktop} {
    .container {
      display: flex;
    }

    .column {
      flex: 1;
      align-items: top !important;

      img {
        max-width: none;
        width: 100%;
      }

      &:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
      }
    }
  }

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
}

header, nav {
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.donate {
  text-align: center;
}

nav .button {
  position: absolute;
  right: 35px;
  top: 4px;
}

.thirds {
  @media #{$desktop} {
    display: flex;
  }
  margin: 90px -15px 0 -15px;
  padding: 0;
  list-style: none;

  li {
    box-sizing: border-box;
    margin: 70px 0px;
    width: 100%;
    border-radius: 3px;
    padding: 0 30px 25px 30px;
    @media #{$desktop} {
      width: 33%;
      margin: 0 15px;
    }

    text-align: center;

    .image {
      display: inline-block;
      line-height: 0;
      background: $crimson-color;
      margin-top: -40px;
      padding: 10px;
      border-radius: 50px;
    }

    p {
      font-size: 1.1rem;
    }

    svg {
      fill: $white-color;
      padding: 5px;
    }
  }
}

blockquote {
  padding: 0;
  margin: 120px 0 70px 0;
  position: relative;

  .quote {
    padding: 30px 50px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    font-size: 1.3em;
    text-align: center;
    box-shadow: 0 20px 100px 0 rgba(0,0,0,0.8);
    color: $paragraph-color;
    font-style: italic;

    &::before {
      content: "\201C";
      font-family: Georgia, serif;

      font-size: 90px;
      font-weight: bold;
      color: $brand-color;

      position: absolute;
      left: 0;
      top: -6px;
      text-align: center;
      width: 100%;
    }
  }

  .meta {
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 999;
    top: 35px;

    .author {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 10px;
    }
  }

  .image {
    display: inline-block;
    width: 70px;
    margin: 0 0 0 15px;
    vertical-align: middle;
    img {
      max-width: 100%;
      border-radius: 200px;
    }
  }
}

.newsletter {
  padding: 100px 0;
}

footer {
  &, a {
    color: $paragraph-color;
  }

  a:hover {
    color: $paragraph-color;

    svg {
      fill: $paragraph-color;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  p, address {
    font-size: .9em;
  }

  svg {
    fill: $paragraph-color;
    height: 20px;
    position: relative;
    top: 4px;
  }

  a {
    text-decoration: none;

    svg:hover {
      fill: $paragraph-color;
    }
  }

  .container {
    @media #{$desktop} {
      display: flex;
      align-items: center;
    }
    div {
      @media #{$desktop} {
        width: 33%;
        margin: 0;
      }
      margin: 20px 0;
      box-sizing: content-box;
      padding: 0 25px;

    }
  }
}

.posts {
  @media #{$desktop} {
    display: flex;
  }
  margin: 0 -20px;
  .post {
    flex: 1;
    border: 1px solid #eee;
    margin: 0 0 50px 0;
    background: #fff;
    border-radius: 3px;

    @media #{$desktop} {
      margin: 0 20px;
    }


    .image {
      height: 200px;
      background-position: center;
      background-size: cover;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }

    .post-content {
      padding: 20px;
    }

    .date {
      color: #ccc;
      font-weight: bold;
      font-size: 1.1rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

.post-title {

  h3 {
    margin: 0;
  }

  .date {
    padding: 0;
    margin: 0;
    font-size: .8em;
    color: #888;
  }
}

.columns {
  @media #{$desktop} {
    display: flex;
    margin: 0 -30px;
    align-items: top;
    & > div {
      flex: 1;
      padding: 0 30px;
    }
  }
}

.darker {
  background-color: $crimson-color;
  color: $white-color;
  p {
    color: $white-color !important;
  }
  .container {
    h1, h2, h3 {
      color: $white-color;
    }
  }
}

.orange {
  background-color: #FF9A56;
  color: $white-color;
  p {
    color: $white-color !important;
  }
  .container {
    h1, h2, h3 {
      color: $white-color;
    }
  }
}

.share {
  background-color: #411e2f;
  border-radius: 16px;
  padding: 48px;
  text-align: center;

  h2 {
    color: $header-color;
  }

  p {
    color: white;
  }
}

.map {
  height: 400px;
}

.center {
  text-align: center;
}

.sponsors {
  padding: 50px 0 50px 0;

  h2 {
    color: white
  }

  img {
    width: 350px;
    margin: 0px 10px 0px 10px
  }
}

.events {
  @extend .thirds;
  margin: auto;

  li {
    background-color: $white-color;
    width: 100%;
    margin: 0 10px 30px 10px;

    h1, h2, h3, p {
      color: $crimson-color !important;
    }

    p, a {
      font-weight: bold;
    }

    a {
      text-decoration-line: none;
      color: $blue-color;
    }
  }
}
