@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Rubik:400,500");

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 768px)";
$desktop: "(min-width: 992px)";

$brand-color: #236ace;
$header-color: #0a142e;

$crimson-color: #0a142e;
$cyan-color: #01ffff;
$blue-color: #2b81d9;
$amber-color: #ff9a56;
$white-color: #ffffff;

$paragraph-color: #000000;
$button-color: #0a142e;
$header-font-family: "Rubik", sans-serif;
$header-weight: 500;
$paragraph-font-family: "Montserrat", sans-serif;
$paragraph-weight: 200;

.blue-color {
  color: $brand-color;
}

.header-color {
  color: $header-color;
}
